@import '../../css/colors.scss';

@import '~fontsource-montserrat/latin-400-normal.css';
@import '~fontsource-montserrat/latin-600-normal.css';

.livesearch{
    font-family: Montserrat;
    font-size: 16px;
    padding: 1em;
}

*,*:focus,*:hover{
    outline:none;
}/*Chrome adds a black outlinte on focus by default*/

@import './label.scss';
@import './wrapper.scss';
@import './input.scss';
@import './list.scss';
@import './options.scss';