{% extends 'page-with-live-search-input.html.twig' %}

{% block body %}
    <div id="live-search-input-container" {% if props is defined and props is not empty %} data-props="{{props|json_encode()|escape('html_attr')}}" {% endif %} {% if state is defined and state is not empty %} data-state="{{state|json_encode()|escape('html_attr')}}" {% endif %}>
    </div>
{% endblock %}
